
body  {
    font-family: Arial,  sans-serif;
    max-width: 800px;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
}

h1   {color: black;
}

table  {background-color: aliceblue;
}
img     {
    display: block;
    margin: 2opx auto;
    border-radius: 10px;
}